{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
{% endblock %}
{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <h1>Продукты!</h1>
    {% csrf_token %}
    <div class="card-deck">
        {% for product in products%}
            <div class="card">
        {% if product.photo %}
        <img src="{{ product.photo.url }}" class="card-img-top" alt="photo_product" height="auto">
        {% else %}
            <img src="{% static 'img/no-photo.jpg' %}" class="card-img-top" alt="photo_product">
        {% endif %}
            <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
        <a href="{% url 'webapp:product_view' product.pk %}" class="btn btn-primary">Просмотр</a>
  </div>
</div>
        {% endfor %}
    </div>
{% endblock %}